<input type="number" placeholder="Amount" [(ngModel)]='amount'><br>

<ul style="list-style: none;"> Payment Method:
  <li>
    <input type="radio" name="payment-method" [value]="knet" (change)='changePaymentMethod("knet")'>
    <label>K-NET</label>    
  </li>
  <li>        
    <input type="radio" name="payment-method" [value]="credit" (change)='changePaymentMethod("credit")'>
    <label>Credit Card</label>

  </li>
</ul>

<button (click)='addAmount()'>Add Amount</button>