<input type="number" placeholder="Amount" [(ngModel)]='amount'>
<select [(ngModel)]='duration'>
  <option *ngFor='let key of keys()'>{{key}}</option>
</select>
<button (click)='setTarget()'>Set Target</button>